body {background-color: #ffffe6;} 
 nav { /* background-image: url(https://media.freestocktextures.com/cache/17/52/1752e2d7d93bb646a28af94125af1bdf.jpg);
*/ background-image: linear-gradient(to top, #ecd9c6,#f9f2ec);

height: 50px; width: 100%;
min-width: fit-content;

}
.fondo-verde { 
    background: rgb(110,106,106);
background: linear-gradient(0deg, rgba(110,106,106,0.7875525210084033) 0%, rgba(242,242,242,1) 80%);
}

#titulo{
    padding-left: 20px;
    display: flex;
align-items: flex-end;

h1{
    font-size: 40px;
font-family: 'Courier New', Courier, monospace;
color:black;
width: fit-content;

}
h2{
    padding-left: 20px;
    justify-content: flex-end;
        font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:#604020;
    width: fit-content;
    align-items: flex-end;
    height: fit-content;
    margin-right: auto;}
}
.menu {
    padding-left: 0;
    height: 15px;
    width:  fit-content;
    display: flex;
    padding-top: 20px;
    /*margin-left: auto;
    margin-right: auto;*/
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
   
    
    a { text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
        color: black;
        width: fit-content;
        padding-left: 30px;
        padding-right: 30px;  
        

}
    li:hover {
        transform: scale(1.1);
        
    }  

}

   .imagencentral {
   width: 360px;
   border: 20px violet;
   padding-left: 0;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   padding-top: 15px;
    }
    .imagencentral2 {
        display: none;
        width: 360px;
        border: 20px violet;
        padding-left: 0;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
         }


 .wsp {
     float: right;
 
     &:hover{
        transform: scale(1.3);
    }
 }


 .textocentro{
     width: 70%;
     font-size: 18px;
     margin-left: auto;
     margin-right: auto; 
    }


 .gridgaleria{
     display: grid;
     /*width: 80%;
     height: 50%;*/
     padding-top: 30px;
     grid-template-columns: 200px 200px 200px;
     grid-template-rows: 200px 200px 200px;
justify-content: center;
justify-items: center;
align-items: center;
gap: 10px;
 }

 .griditem{
     border-style: solid;
     transition: transform 1s;
     cursor: pointer;
    &:hover {
        transform: scale(1.1);
        }
    }

 



.como{
    display: flex;
    flex-direction: column;
align-items: center;
padding-top: 40px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

h2 {
    padding-top: 40px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    padding-top: 30px;
    width: 600px;
    padding-bottom: 100px;
    font-size: 18px;
    font-style: oblique;

}
}

.quienes{
        display: grid;
    grid-template-rows: 30px 300px;
    grid-template-columns: 250px 250px;
   align-content: center;
   justify-content: center;
   grid-template-areas: 
   "quienes quienes";
   align-items: center;
   p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 15px;  
}

}
.plantas2 {
    display: none;}

.quienes1{
    grid-area: quienes;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;
font-weight: bolder;

}
 


fieldset {
    margin-top: 5%;
    height: 200px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     legend {
     font-size: large;}
     form {padding-top: 20px;}
     }
 .textoatencion{
          font-style: italic;
     font-weight: bolder;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
  
 
 .marcolegal{
     padding-top: 50px;
     
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: gray;
    align-items: center;
}
.marcolegalgaleria{
    padding-top: 50px;
    
   width: 100%;
   display: flex;
   flex-direction: column;
   font-size: 20px;
   color:black;

align-items: center;
}

 .flexcontainer{
     display: flex;
/*     flex-direction: row;*/
     font-size: 20px;
     img {
        padding-left: 30px;
    }
    .instagram {
        display: none;
    }
    }

 

 .infcontacto{
     align-items: center;
     display: flex;
     flex-direction: column;
     legend {margin-left: auto;

        margin-right: auto;}
    }
 

.formulariovertical {display: flex;
flex-direction: column;
align-items: center;
input {
    
    width: 250px }
}
/*
@media (max-width: 891px) {

    .menu {
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 0;
a {
   font-size: 18px;
   padding-left: 15px;
   padding-right: 15px;
}
}
}

@media (max-width: 780px) {
    

    #titulo{
                padding-left: 20px;
        display: flex;

        h1{
            font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        color:black;
        width: fit-content;
       
        }
        h2{
            padding-left: 20px;
            justify-content: flex-end;
                font-size: 12px;
            font-family: 'Courier New', Courier, monospace;
            color:#604020;
            width: fit-content;
            align-items: flex-end;
            height: fit-content;
            margin-right: auto;}
     }
     .menu {
                 margin-left: 0%;
                 margin-right: 0%;
                 padding-left: 0;
        a {
            font-size: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
}

*/


@media (max-width: 350px) {
    body {background-color: white;}

    #titulo{
         
        padding-left: 1px;
        display: flex;

        h1{
            font-size: 10px;
            width: fit-content;
             
        }
        h2{
            
            padding-left: 5px;
            justify-content: flex-end;
                font-size: 5px;
            font-family: 'Courier New', Courier, monospace;
            width: fit-content;
            align-items: flex-end;
            height: fit-content;
            margin-right: auto;}
     }
      nav{
        height: auto;
      }

     .menu { 
         width: fit-content;
         margin: 0%;
         padding-top: 1px;

         a {
             font-size: 6px;
             padding-right: 3.5px;
             padding-left: 3.5px;
         }
     }
        
     
    .imagencentral {
        display: none;
    }

     
    .imagencentral2 {
        display: block;
   width: fit-content;
    padding-top: 15px;}

    .textocentro {
        font-size: 9px;
    }

.marcolegal{
    padding-top: 0;
    font-size: 10px;
}
.flexcontainer {
    font-size: 10px;
    img {
        display: none;
    padding-left: 0px;
    }
    .instagram {
        display: block;
    }}

    .quienes1 {
        font-size: 10px;
    }
    .quienes{
        grid-template-rows: 15px 200px;
    grid-template-columns: 125px 125px;
    p{
        padding-left: 5px;
        font-size: 7px;
    } }
    .plantas1 {
        display: none;}
        .plantas2 {
            display: grid;
        }
        .como {
            padding-top: 0px;
                h2{ padding-top: 0px;
                    font-size:10px 
                    ;
                width: fit-content;}
                    p {font-size: 8px;
                    width: fit-content;
                padding-top: 0px;
            padding-bottom: 0px;
        }
        }
        .infcontacto {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        fieldset {
            margin-top: 5%;
            height: 150px;
            width: fit-content;
            
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
             legend {
             font-size: 10px;}
             form {padding-top: 20px;}
             }
             .formulariovertical{font-size: 7px;
                width: fit-content;
            padding-top:5px;
            input {
                width: 150px;
                height: auto;
            }
        }
    
             .textoatencion{
                font-size:7px;
       }
       .gridgaleria{
           width: fit-content;
        display: grid;
        margin-right: auto;
        margin-left: auto;
            padding-top: 30px;
        grid-template-columns: 70px 70px 70px;
        grid-template-rows: 65px 65px 65px;
   justify-content: center;
   justify-items: center;
   align-items: center;
   gap: 10px;
    }
   

    }