body {background-color: #ffffe6;}  
nav { /* background-image: url(https://media.freestocktextures.com/cache/17/52/1752e2d7d93bb646a28af94125af1bdf.jpg);
*/ background-image: linear-gradient(to top, #ecd9c6,#f9f2ec);

height: 50px; width: 100%;
min-width: fit-content;
padding-left: 20px;

}
.fondo-verde { 
    background: rgb(110,106,106);
background: linear-gradient(0deg, rgba(110,106,106,0.7875525210084033) 0%, rgba(242,242,242,1) 80%);
}

#titulo{
    padding-left: 20px;
    display: flex;
align-items: flex-end;

h1{
    font-size: 40px;
font-family: 'Courier New', Courier, monospace;
color:black;
width: fit-content;
margin-left: auto;

}
h2{
    padding-left: 20px;
    justify-content: flex-end;
        font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:#604020;
    width: fit-content;
    align-items: flex-end;
    height: fit-content;
    margin-right: auto;
}

}


.menu {
    height: 15px;
    width:  fit-content;
    display: flex;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    a { text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
        color: black;
        width: fit-content;
        padding-left: 30px;
        padding-right: 30px;    
    }
    li:hover {
        transform: scale(1.1);
        
    }  

}

  

.imagencentral {
   border: 20px violet;
   padding-left: 30% ;
   margin: 5%;
   
 }

 .wsp {
     float: right;
 
     &:hover{
        transform: scale(1.3);
    }
 }


 .textocentro{
     font-size: 18px;
     margin-left: 20%;
     margin-right: 20%; }


 .gridgaleria{
     display: grid;
     /*width: 80%;
     height: 50%;*/
     padding-top: 30px;
     grid-template-columns: 200px 200px 200px;
     grid-template-rows: 200px 200px;
justify-content: center;
justify-items: center;
align-items: center;
gap: 10px;
 }

 .griditem{
     border-style: solid;
     transition: transform 1s;
     cursor: pointer;
    &:hover {
        transform: scale(1.1);
        }
    }

 



.como{
    display: flex;
    flex-direction: column;
align-items: center;
padding-top: 40px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

h2 {
    padding-top: 40px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    padding-top: 30px;
    width: 600px;
    padding-bottom: 100px;
    font-size: 18px;
    font-style: oblique;

}
}

.quienes{
        display: grid;
    grid-template-rows: 30px 300px;
    grid-template-columns: 250px 250px;
   align-content: center;
   justify-content: center;
   grid-template-areas: 
   "quienes quienes";
   align-items: center;
   p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 15px;


}

}

.quienes1{
    grid-area: quienes;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;
font-weight: bolder;
}
 


fieldset {
    margin-top: 5%;
    height: 200px;
    width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     legend {
     font-size: large;}
     form {padding-top: 20px;}
     }
 .textoatencion{
          font-style: italic;
     font-weight: bolder;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
  
 
 .marcolegal{
     padding-top: 50px;
     
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: gray;

align-items: center;
}
.marcolegalgaleria{
    padding-top: 50px;
    
   width: 100%;
   display: flex;
   flex-direction: column;
   font-size: 20px;
   color:black;

align-items: center;
}

 .flexcontainer{
     display: flex;
/*     flex-direction: row;*/
     font-size: 20px;
     img {
        padding-left: 30px;
    }
    }

 

 .infcontacto{
     align-items: center;
     display: flex;
     flex-direction: column;
     legend {margin-left: auto;

        margin-right: auto;}
    }
 

.formulariovertical {display: flex;
flex-direction: column;
align-items: center;
input {
    
    width: 250px }
}


